*{padding: 2px;margin: 2px;}

#main{
	display: grid;
	grid-template-rows: 5vh 10vh 75vh 10vh;
	grid-template-areas:"header header" "nav nav"
	"content aside" "footer footer"
}
body {
	font-family: "OpenSans Light", sans-serif;
	text-align: center;
}

.mainHeader {
	grid-area: header;
	background: deepskyblue
}
.mainNav {
	grid-area: nav;
	background: antiquewhite
}
.mainContent {
	grid-area: content;
	background: darkkhaki;
	width: 70vw;
}
.mainAside {
	grid-area: aside;
	background: darksalmon;
	width: 30vw	;
}
.mainFooter {
	grid-area: footer;
	background: darkslategray
}
.mainArticleContent {
	grid-area: mainArticleContent;
	background: lightblue;
	width: 70vw;

}