*{padding: 0;margin: 0;}

#main{
    display: grid;
    grid-template-rows: 5vh 10vh 75vh 10vh;
    grid-template-areas:"header header" "nav nav"
                        "content content" "footer footer"
}
#mainArticle{
    display: grid;
    grid-template-rows: 100vh 100vh;
    grid-template-areas:    "mainArticleContent login"

}
body {
	font-family: "OpenSans Light", sans-serif;
	text-align: center;
}

.mainHeader {
    grid-area: header;
    background: deepskyblue
}
.mainNav {
    grid-area: nav;
    background: antiquewhite
}
.mainContent {
    grid-area: content;
    background: darkkhaki
}
.mainAside {
    grid-area: aside;
    background: darksalmon
}
.mainFooter {
    grid-area: footer;
    background: darkslategray
}
.mainArticleContent {
    grid-area: mainArticleContent;
    background: lightblue;
    width: 70vw;

}
.login {
    grid-area: login;
    background:darkkhaki;
    width: 30vw;

}