@font-face {
    font-family: "OpenSans Light";
    src: url("../fonts/OpenSans-Light.eot"), url("../fonts/OpenSans-Light.ttf");
    font-weight: 100;
}


body, html {
    margin: 0;
    padding: 0;
    font-family: "OpenSans Light", sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

a, a:visited {
    color: rgb(95,189,194);
    text-decoration: none;
    font-weight: bold;
}

p {
    margin: 15px;
}

/* --------- Campos de formulário --------- */
input, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 80%;
    height: 40px;
    border: 1px solid rgb(200,200,200);
    padding: 0 15px;
    font-size: 10pt;
    outline: none;
}

    input:focus, select:focus, textarea:focus {
        border-color: rgb(150,150,150);
    }

input[type="button"], input[type="submit"], input[type="reset"], button {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 15px;
    font-size: 10pt;
    background: rgb(95,189,194);
    color: #FFF;
    border: none;
    border-radius: 35px 5px 35px 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

    input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover {
        background: #2cb5e8;
        color: #FFF;
        transition: 0.3s;
    }




    /* -------- IDs -------- */
#sidebar {
    z-index: 10;
    display: inline-block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 60px;
}

    #sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #sidebar ul li {
        width: 40px;
        height: 40px;
        margin: 10px;
    }

    #sidebar ul li.logo {
        width: 50px;
        height: 50px;
        margin: 5px 5px 10px 5px;
        padding: 0 0 10px 0;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

        #sidebar ul li.logo img {
            width: 45px;
            height: 45px;
            margin: 2.5px;
        }

    #sidebar ul li.last {
        position: absolute;
        left: 0;
        bottom: 5px;
    }

    #sidebar ul li img {
        width: 40px;
        height: 40px;
    }



#maincontent {
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 0;
    width: calc(100% - 60px);
    min-height: 100%;
}




/* -------- Classes -------- */
.container {
    margin: 15px;
}

.form-container {
    display: block;
    margin: 0 auto;
}

.alert {
    padding: 15px;
    margin: 10px auto 0;
    border: 1px solid rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
}

    .alert.alert-error {
        background: rgb(255,230,230);
        border-color: rgb(255,200,200);
        color: rgb(200,110,110);
    }

    .alert.alert-success {
        background: rgb(230,255,230);
        border-color: rgb(200,255,200);
        color: rgb(110,200,110);
    }

.side-side {
    display: inline-block;
    vertical-align: top;
}
    .container.side-side {
        width: 60%;
    }

        .container.side-side .block {
            margin: 20px auto;
        }

    .options.side-side {
        width: 30%;
    }

.textcenter {
    text-align: center;
}

.textright {
    text-align: right;
}

.cover {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
}


.basecolor {
    /*background: linear-gradient(180deg, aquamarine 0%, #2cb5e8 130%);*/
    /*background: linear-gradient(180deg, #65FFDD 0%, #41D4EC 130%);*/

    background: rgb(245,245,245);

    /*background: rgb(220,255,240);*/

    /*background: rgb(60,60,60);*/
    /*background: rgb(0,35,50);*/
    /*background: rgb(200,240,230);*/
}

.tooltiptext {
    position: absolute;
    background: rgba(255,255,255,0.75);
    z-index: 1;
    padding: 5px 10px;
    text-align: center;
    color: rgb(0,0,0);
    border-radius: 4px;
    margin-left: 10px;
    font-weight: normal;
    margin-top: 5px;
    visibility: hidden;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    font-size: 10pt;
    white-space: nowrap;
}

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }


.content {
    text-align: justify;
    display: block;
    margin: 40px auto;
    width: 80%;
    max-width: 800px;
    padding: 15px;
}

    .content.fit {
        margin: 10px auto;
    }

    .content h2 {
        margin-top: 10px;
        margin-bottom: 35px;
    }
    
    .content.textright {
        text-align: right;
    }
    
    .content.textcenter {
        text-align: center;
    }


.block {
    display: block;
    background: rgba(255,255,255,1);
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}

    .block input {
        display: block;
        margin: 3px auto;
    }


.blocklist {
    margin: 10px auto;
    text-align: center;
    list-style: none;
    padding: 0;
}

    .blocklist label {
        display: block;
        margin: 20px auto;
        width: 80%;
        max-width: 220px;
        border-radius: 5px;
    }

    .blocklist li {
        vertical-align: top;
        width: 100%;
        max-width: 190px;
    }

    .blocklist li input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        margin-left: -5px;
        margin-right: -20px;
        margin-top: -5px;
        float: left;
        display: inline-block;
        padding: 0;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        border: 2px solid rgb(0,0,0);
        transition: 0.3s;
    }

        .blocklist li input[type="radio"]:checked {
            transition: 0.3s;
            background: rgb(95,189,194);
            box-shadow: inset 0 0 0 4px rgb(255,255,255);
        }


.transluscentblock {
    display: block;
    min-height: 150px;
    width: 80%;
    max-width: 90%;
    border-radius: 5px;
    background: rgba(255,255,255,0.6);
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
    padding: 15px;
    transition: 0.3s;
}

    .transluscentblock:hover {
        background: rgba(255,255,255,0.8);
        transition: 0.3s;
    }


.progress {
    margin: 10px auto;
    display: block;
    text-align: center;
}

    .progress.block {
        width: 80%;
        max-width: 200px;
        padding: 10px 5px 5px;
    }


.progressbar {
    display: block;
    background: rgba(0,0,0,0.06);
    border: 1px solid rgba(0,0,0,0.15);
    width: 90%;
    max-width: 200px;
    height: 5px;
    margin: 5px auto;
    border-radius: 5px;
}

    .progressconut {
        display: block;
        background: rgb(95,189,194);
        height: 5px;
        border-radius: 5px;
    }



/* ------- Formulário de login e registro ------- */
#loginform, #regform {
    text-align: center;
    min-height: 200px;
    max-width: 500px;
    width: calc(100% - 75px);
    padding: 35px;
}

    #loginform input {
        display: block;
        margin: 0 auto;
    }




@media screen and (orientation: portrait) {
    /* -------- IDs -------- */
    #sidebar {
        top: auto;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60px;
        /*box-shadow: 0 -1px 5px rgba(0,0,0,0.2);*/
    }

    #sidebar ul li {
        display: inline-block;
        vertical-align: top;
    }

    #sidebar ul li.logo {
        width: 50px;
        height: 50px;
        margin: 5px;
        padding: 0 10px 0 0;
        border-bottom: none;
        border-right: 1px solid rgba(0,0,0,0.1);
    }

    #sidebar ul li.last {
        right: 5px;
        left: auto;
        bottom: 0;
    }


    #maincontent {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 60px;
        min-height: calc(100% - 60px);
        width: 100%;
        margin-bottom: 65px;
    }


    /* --------- Classes ---------- */
    .container{
        margin: 10px;
    }

        .container .block {
            margin: 25px auto;
        }

        #maincontent > .container {
            padding-bottom: 65px;
        }

    .basecolor {
        /*background: linear-gradient(90deg, aquamarine 0%, #2cb5e8 130%);*/
    }
        
    .textright.comp-align {
        /*text-align: center;*/
    }


    /* ------- Formulário de login e registro ------- */
    #loginform, #regform {
        width: calc(100% - 70px);
    }
}


@media screen and (max-width: 800px), screen and (orientation: portrait) {

    .side-side {
        display: block;
    }
        .container.side-side {
            width: 100%;
            margin: 0;
        }

    .tooltip:hover .tooltiptext {
        visibility: hidden;
    }

    .blocklist {
        width: 100%;
        margin: 20px -20px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 0 15px;
    }

    .blocklist label {
        display: inline-block;
        margin: 15px 10px;
        width: calc(100% - 20px);
    }
}