@font-face {
    font-family: "OpenSans Light";
    src: url("../fonts/OpenSans-Light.eot"), url("../fonts/OpenSans-Light.ttf");
    font-weight: 100;
}


body, html {
    margin: 0;
    padding: 0;
    font-family: "OpenSans Light", sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

a, a:visited {
    color: mediumaquamarine;
    text-decoration: none;
}

p {
    margin: 15px;
}

/* --------- Campos de formulário --------- */
input, select, textarea {
    /*-webkit-appearance: none;
    -moz-appearance: none;*/
    width: 80%;
    height: 40px;
    border: 1px solid rgb(200,200,200);
    padding: 0 15px;
    font-size: 10pt;
    outline: none;
}

    input:focus, select:focus, textarea:focus {
        border-color: rgb(150,150,150);
    }

input[type="button"], input[type="submit"], input[type="reset"], button {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 15px;
    font-size: 10pt;
    background: aquamarine;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

    input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover {
        background: mediumaquamarine;
        color: #FFFFFF;
        transition: 0.3s;
    }




    /* -------- IDs -------- */
#sidebar {
    z-index: 10;
    display: inline-block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 60px;
    /*box-shadow: 0 0 5px rgba(0,0,0,0.2);*/
}

    #sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #sidebar ul li {
        width: 40px;
        height: 40px;
        margin: 10px;
        background: rgba(0,0,0,0.2);
    }

    #sidebar ul li.logo {
        width: 50px;
        height: 50px;
        margin: 5px;
        background: rgba(255,255,255,0.8);
    }

    #sidebar ul li.last {
        position: absolute;
        left: 0;
        bottom: 5px;
    }



#maincontent {
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 0;
    width: calc(100% - 60px);
    min-height: 100%;
}




/* -------- Classes -------- */
.container {
    margin: 15px;
}

.side-side {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

.cover {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
}


.linearcolor {
    background: linear-gradient(180deg, aquamarine 0%, #2cb5e8 130%);
}

.tooltiptext {
    position: absolute;
    background: rgba(0,0,0,0.4);
    z-index: 1;
    padding: 5px 10px;
    text-align: center;
    color: #FFF;
    border-radius: 4px;
    left: 60px;
    visibility: hidden;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }


.content {
    display: block;
    margin: 40px auto;
    min-height: 200px;
    width: 80%;
    max-width: 800px;
    padding: 15px;
}


.block {
    display: block;
    background: rgba(255,255,255,1);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

    .block input {
        display: block;
        margin: 3px auto;
    }


.blocklist {
    margin: 10px auto;
    text-align: center;
    list-style: none;
    padding: 0;
}

    .blocklist li {
        display: inline-block;
        margin: 15px;
        width: calc(20% - 15px);
        max-width: 190px;
    }


.transluscentblock {
    display: block;
    min-height: 150px;
    width: 80%;
    max-width: 90%;
    border-radius: 5px;
    background: rgba(255,255,255,0.6);
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
    padding: 15px;
    transition: 0.3s;
}

    .transluscentblock:hover {
        background: rgba(255,255,255,0.8);
        transition: 0.3s;
    }



/* ------- Formulário de login e registro ------- */
#loginform, #regform {
    text-align: center;
    min-height: 200px;
    max-width: 500px;
    width: calc(100% - 75px);
    padding: 35px;
}

    #loginform input {
        display: block;
        margin: 0 auto;
    }




@media screen and (orientation: portrait) {
    /* -------- IDs -------- */
    #sidebar {
        top: auto;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60px;
        /*box-shadow: 0 -1px 5px rgba(0,0,0,0.2);*/
    }

    #sidebar ul li {
        display: inline-block;
    }

    #sidebar ul li.logo {
        width: 50px;
        height: 50px;
        margin: 5px;
        background: rgba(255,255,255,0.8);
    }

    #sidebar ul li.last {
        right: 5px;
        left: auto;
        bottom: 0;
    }


    #maincontent {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 60px;
        min-height: calc(100% - 60px);
        width: 100%;
        margin-bottom: 65px;
    }


    /* --------- Classes ---------- */
    .container{
        margin: 10px;
        padding-bottom: 65px;
    }

        .container .block {
            margin: 25px auto;
        }

    .tooltip:hover .tooltiptext {
        visibility: hidden;
    }

    .linearcolor {
        background: linear-gradient(90deg, aquamarine 0%, #2cb5e8 130%);
    }

    ul.blocklist {
        width: 100%;
        margin: 20px -20px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 0 15px;
    }

        ul.blocklist li {
            display: inline-block;
            margin: 15px 10px;
            width: calc(100% - 20px);
        }


    /* ------- Formulário de login e registro ------- */
    #loginform, #regform {
        width: calc(100% - 70px);
    }
}